body {
  font-family: system-ui, sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

main {
  max-width: 900px;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #444;
  padding-bottom: .5rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-items: center;
}

.gallery img {
  width: 90%;
  max-width: 700px;
  height: auto;
  border-radius: 0.75rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}




.hidden {
  display: none;
}
